# Python files
*.pyc
ve/

# emacs specific files

auto-save-list
custom.el
url/
.org-id-locations
\#*
org-mode-config.el
*~
.#*
\#*\#
*.log
.DS_Store
org-clock-save.el
emacs-config.el

# locks from libreoffice calc
data/.~lock.WHO.csv#

# vagrant folder
.vagrant/

# various notes
notes/
genomes_full/
crispr_bak/
genomes/
crispr/
SAMTests/
#metagenomics
SPAdes-3.5.0-Linux/bin/spades_test/
*.tmp
